#imgUNcover {
    width: 100%;
    object-fit: contain;
  }
.layout {
    padding: 0px 250px;
}

@media screen and (max-width: 1240px) {
    .layout {
        padding: 0px 150px;
    }

}

@media screen and (max-width: 1024px) {
    .layout {
        padding: 0px 100px;
    }

}

@media screen and (max-width: 900px) {
    .layout {
        padding: 0px 50px;
    }

}

@media screen and (max-width: 560px) {
    .layout {
        padding: 0px 20px;
    }
}